@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ani {
    transition: all 200ms ease-in-out;
  }
  .dragging {
    opacity: 1;
    background-color: aqua;
    scale: 0.95;
  }
  .dragging-container {
    opacity: 1;
    background-color: cadetblue;
    scale: 0.95;
  }
}
